<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net45" developmentDependency="true" />
  <package id="DocX" version="1.0.0.19" targetFramework="net45" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="Fody" version="1.29.2" targetFramework="net45" developmentDependency="true" />
  <package id="GDAL" version="1.11.1" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.11.0" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.52.1" targetFramework="net45" developmentDependency="true" />
  <package id="SharpDX" version="3.0.2" targetFramework="net45" />
  <package id="SharpDX.D3DCompiler" version="3.0.2" targetFramework="net45" />
  <package id="SharpDX.Desktop" version="3.0.2" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="3.0.2" targetFramework="net45" />
  <package id="SharpDX.DirectManipulation" version="3.0.2" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="3.0.2" targetFramework="net45" />
  <package id="SharpDX.Mathematics" version="3.0.2" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net45" />
</packages>